services:
  app:
    build: .
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - db
    command: >
      sh -c "
      composer install &&
      php artisan key:generate &&
      php artisan migrate &&
      php-fpm
      "
    networks:
      - laravel


  web:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: TodoDB
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - laravel

volumes:
  dbdata:
networks:
  laravel:
    driver: bridge
